<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableSuperPower">
        Enable Super Power
    </ion-toggle>    
    </ion-list>
    <p ng-hide="!settings.enableSuperPower">You got super power! GREAT !</p>
  </ion-content>
</ion-view>
